---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-naming,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-convert-member-functions-to-static,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -bugprone-suspicious-stringview-data-usage,
  -modernize-use-std-print,
  -portability-avoid-pragma-once
WarningsAsErrors: ''
HeaderFilterRegex: '^(.*/)?(src|test)(/[^./][^/]*)*/[^/]*$'
SystemHeaders: false
FormatStyle: file
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: '1'
  - key: readability-identifier-length
    value: '2:3:4:5:6:7:8:9:10:11:12:13:14:15:16:17:18:19:20'
  - key: readability-braces-around-statements
    value: 'MultiLine'
