CMakeCache.txt
CMakeFiles/*
coverage/*
CTestTestfile.cmake
CMakeLists.txt.user
cmake_install.cmake
src/include/config.h
examples/generator/CMakeFiles
examples/generator/xgenerator
examples/temp/
.idea/*
.embold/*
cmake-build-debug/*
Makefile
*.cbp
out.*
testfile
Testing/
nohup.out
build/
scripts/CMakeFiles/*
astyle/
compile_commands.json
install_manifest.txt
CMakeUserPresets.json
CMakePresets.json
*.dmp
*.lkn
*.qry*
*.dot
*.swp
*.log
*.bkp
*.dtmp
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json
.cproject
.project
.cmake
.settings/*
docs/
bin/*
.venv/
.codex
gitbook-rdb/
docker/ci/DockerConan.txt
205.bin
205.bin.meta
examples/ecg/rec205/bp_acc.desc
examples/ecg/rec205/bp_acc.meta
examples/ecg/rec205/bp_out.desc
examples/ecg/rec205/bp_out.meta
examples/ecg/rec205/bp_win.desc
examples/ecg/rec205/bp_win.meta
examples/ecg/rec205/bpf.desc
examples/ecg/rec205/d_acc.desc
examples/ecg/rec205/d_acc.meta
examples/ecg/rec205/d_out.desc
examples/ecg/rec205/d_out.meta
examples/ecg/rec205/detect_out.desc
examples/ecg/rec205/detect_out.meta
examples/ecg/rec205/df.desc
examples/ecg/rec205/mlii_win.desc
examples/ecg/rec205/mlii_win.meta
examples/ecg/rec205/mlii.desc
examples/ecg/rec205/mlii.meta
examples/ecg/rec205/mwi_long.desc
examples/ecg/rec205/mwi_long.meta
examples/ecg/rec205/mwi_proc.desc
examples/ecg/rec205/mwi_proc.meta
examples/ecg/rec205/mwi_thr.desc
examples/ecg/rec205/mwi_thr.meta
examples/ecg/rec205/mwi_win.desc
examples/ecg/rec205/mwi_win.meta
examples/ecg/rec205/mwi.desc
examples/ecg/rec205/mwi.meta
examples/ecg/rec205/sq_out.desc
examples/ecg/rec205/sq_out.meta
examples/ecg/rec205/STREAM_ADD_mlii_v1
examples/ecg/rec205/STREAM_ADD_mlii_v1.desc
examples/ecg/rec205/STREAM_ADD_mlii_v1.meta
examples/ecg/rec205/STREAM_ADD_mlii_v1.shadow
examples/ecg/rec205/v1.desc
examples/ecg/rec205/v1.meta
