CMakeCache.txt
CMakeFiles/*
CTestTestfile.cmake
CMakeLists.txt.user
cmake_install.cmake
src/include/config.h
examples/generator/CMakeFiles
examples/generator/xgenerator
examples/temp/
.idea/*
.embold/*
cmake-build-debug/*
Makefile
*.cbp
out.*
testfile
Testing/
nohup.out
build/
scripts/CMakeFiles/*
astyle/
compile_commands.json
install_manifest.txt
CMakeUserPresets.json
CMakePresets.json
*.dmp
*.lkn
*.qry*
*.dot
*.swp
*.log
*.bkp
*.dtmp
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json
.cproject
.project
.cmake
.settings/*
docs/
bin/*
.venv/
