temp/
*.shadow
ecg.desc
s205out.desc
s205out.meta
bpf.desc
df.desc
mlii
mlii.desc
mlii.meta
mlii_win
mlii_win.desc
mlii_win.meta
bp_acc
bp_acc.desc
bp_acc.meta
bp_out
bp_out.desc
bp_out.meta
bp_win
bp_win.desc
bp_win.meta
d_acc
d_acc.desc
d_acc.meta
d_out
d_out.desc
d_out.meta
sq_out
sq_out.desc
sq_out.meta
mwi_win
mwi_win.desc
mwi_win.meta
mwi
mwi.desc
mwi.meta
mwi_long
mwi_long.desc
mwi_long.meta
mwi_thr
mwi_thr.desc
mwi_thr.meta
mwi_proc
mwi_proc.desc
mwi_proc.meta
qrs_out
qrs_out.desc
qrs_out.meta
v1
v1.desc
v1.meta
detect_out
detect_out.desc
detect_out.meta
STREAM_ADD*
STREAM_ADD*.desc
STREAM_ADD*.meta
