*.meta
*.shadow
out1
out1.desc
out2
out2.desc
out3
out3.desc
out4
out4.desc
out5
out5.desc
STREAM_ADD_s1_s2.desc
STREAM_ADD_STREAM_ADD_s1_s2_s3.desc
STREAM_HASH_s1_s2.desc
STREAM_HASH_s2_s3.desc
s1.desc
s2.desc
s3.desc
s4.desc
