---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* system typefaces */

$serif      : "Vollkorn", Georgia, Times, serif;
$sans-serif : "Ubuntu", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

p {
    font: 100% $serif;
}

.page__taxonomy {
    font: 100% $sans-serif;
}

.page__date {
    font: 100% $sans-serif;
}

@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Ubuntu|Vollkorn&display=swap');

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


