CMakeCache.txt
CMakeFiles/*
CMakeLists.txt.user
Makefile
cmake_install.cmake
database.cbp
out.*
query.dmp
query.lkn
query.qry*
testfile
x*
CTestTestfile.cmake
Testing/
doxygen.config
*.dot
*.jpg
*.png
